body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#searchContainer {
  position: absolute;
  top: 80px;
  width: 330px;
}

#search {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 120px;
  width: 180px;
}

#eventPanel {
  width: 300px;
  overflow: scroll;
  max-height: 80vh;
}

#eventDisplay {
  overflow: scroll;
  max-height: 70vh;
}

#menuItem {
  height: 50px;
}

#searchInput{
  width: 260px;
}

#loginPanel {
  height: 400px;
}

#loginButton {
  bottom: 20px;
}
